/* Starter Pack */
@font-face {
    font-family: 'gdsherpa';
    font-weight: 1 900;
    src: url('https://img6.wsimg.com/ux-assets/@ux/fonts/4.5.0/GDSherpa-vf4.woff2') format('woff2'), url('https://img6.wsimg.com/ux-assets/@ux/fonts/4.5.0/GDSherpa-vf4.woff2') format('woff2-variations');
    unicode-range: U+0-10FFFF;
    font-display: swap;
}

@font-face {
    font-family: 'gd-sage';
    font-weight: 700;
    src: url('https://img6.wsimg.com/ux-assets/@ux/fonts/4.5.0/GDSage-bold.woff2') format('woff2'), url('https://img6.wsimg.com/ux-assets/@ux/fonts/4.5.0/GDSage-bold.woff') format('woff'), url('https://img6.wsimg.com/ux-assets/@ux/fonts/4.5.0/GDSage-bold.ttf') format('truetype');
    unicode-range: U+0-10FFFF;
    font-display: swap;
}

.html,
body {
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::selection {
    background-color: rgb(154, 255, 255);
}

/* JS Classlists */
.blur {
    filter: blur(2px);
}

#pricingLink.show {
    display: block;
    opacity: 1;
}

.dropdownToggle {
    background-color: white;
    color: rgb(17, 17, 17);
}

#pricingLink {
    display: none;
}

/* Header */
.header {
    color: white;
    padding-inline: 54px;
    padding-block: 4px;
    background-color: #2B2B2B;
}

.header-row {
    width: 97%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    display: none;
}

.header-inner {
    width: 20%;
    align-self: center;
}

.header-inner .logo {
    width: 70%;
}

.header-row ul {
    width: 80%;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 850;
    margin: 8px 0px;
    display: flex;
}

.header-row ul li {
    list-style: none;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
}

.header-img {
    display: none;
}

.header-row ul li a {
    text-decoration: none;
    color: white;
    display: flex;
}

.header-row ul li:hover {
    background-color: rgb(102, 102, 102);
}

.header-row ul li.dropdownToggle:hover {
    background-color: #FFFFFF;
    color: rgb(17, 17, 17);
}

.header-end {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.header-end a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 565;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
}

.header-end a:hover {
    background-color: rgb(102, 102, 102);
}

.shopping_cart:hover {
    background-color: rgb(17, 17, 17);
}

/* Dropdown */
.DomainDropdown,
.WebsiteDropdown,
.SecurityDropdown,
.MarketingDropdown {
    width: 94%;
    
    position: absolute;
    z-index: 3;
    justify-content: space-between;
    background-color: #FFFFFF;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.dropdown.open {
    max-height: 500px;
    padding: 40px;
    padding-block: 35px;
    opacity: 1;
    display: flex;
}

.section {
    transform: translateX(20px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.dropdown.open .section,
.dropdown.open .section-2 {
    transform: translateX(0);
    opacity: 1;
}

.section {
    width: 25%;
}

.section h3 {
    font-size: 18px;
    line-height: 24px;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    color: rgb(118, 118, 118);
}

.section ul {
    padding-inline: 0px;
}

.section ul li {
    display: flex;
    column-gap: 10px;
    margin-block: 20px;
    padding: 5px;
    border-radius: 10px;
}

.section ul li:hover {
    background-color: #e4e4e4;
}

.section ul li img {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: rgb(219, 237, 238);
    border-radius: 10px;
}

.section ul li a {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    align-self: center;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.section ul li a:hover {
    color: rgb(25, 118, 210);
}

.section-2 {
    display: grid;
    gap: 20px;
}

.section-2 img {
    width: 270px;
    text-align: center;
    border-radius: 10px;
}

.section-2 a {
    font-weight: 700;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    text-decoration: underline;
    color: #000000;
}

.sidebar {
    display: none;
}

@media screen and (max-width: 1200px) {
    /* Header */

    .header {
        padding: 4px 15px;
        color: white;
        background-color: #2B2B2B;
    }

    .header-row {
        height: auto;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }

    .header-inner {
        width: 40%;
        display: flex;
        justify-content: space-evenly;

    }

    .hamburger {
        width: 15%;
        display: block;
    }

    .logo {
        width: 60%;
    }

    .header-row ul {
        display: none;
    }

    .header-end {
        width: 30%;
        justify-content: end;
    }

    .header-end a span {
        display: none;
    }

    .header-img {
        display: block;
    }

    .contact {
        display: none;
    }

    .header-end a:hover {
        background-color: rgb(102, 102, 102);
    }

    .shopping_cart:hover {
        background-color: rgb(17, 17, 17);
    }

    /* Sidebar */
    .sidebar {
        display: block;
        position: fixed;
        left: -320px;
        top: 0;
        width: 280px;
        height: 95%;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        display: flex;
        flex-direction: column;
        z-index: 5;
        transition: left 0.3s ease;
    }

    .sidebar.open {
        left: 0;
    }

    .side-logo svg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        color: white;
    }

    .logo img {
        width: 150px;
    }

    .close-btn {
        display: inline;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    .close-btn img {
        margin-right: -120px;
    }

    /* Navigation menu */
    .menu {
        list-style: none;
        padding: 0;
        flex-grow: 1;
        margin-top: 50px;
    }

    .menu li {
        margin-bottom: 50px;
    }

    .menu li a {
        text-decoration: none;
        font-size: 24px;
        line-height: 24px;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
        color: rgb(17, 17, 17);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Footer links */
    .footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-top: 1px solid #e4e4e4;
        padding-top: 15px;
        margin-top: auto;
    }

    .footer a {
        font-size: 16px;
        color: #000;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .footer a img {
        padding-inline: 3px;
    }

    .sub-menu {
        position: absolute;
        left: 320px;
        display: none;
        top: 0;
        width: 350px;
        height: 95%;
        justify-content: space-around;
        background-color: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s ease;
        transform: translateX(100%);
        z-index: 6;
    }

    /* When sub-menu is active */
    .sub-menu.open {
        transform: translateX(0);
        display: block;
    }

    /* Sub-menu header */
    .sub-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .sub-menu-header h3 {
        font-size: 18px;
        margin: 0;
    }

    .sub-menu-header .back-btn {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    /* Sub-menu items */
    .sub-menu ul {
        list-style: none;
        padding: 0;
    }

    .sub-menu li {
        margin-bottom: 15px;
    }

    .sub-menu li a {
        text-decoration: none;
        font-size: 16px;
        color: #000;
        display: flex;
        align-items: center;
    }

    /* Dropdown */

    .side-section {
        transform: translateX(20px);
        opacity: 1;
        transition: transform 0.5s ease, opacity 0.5s ease;
        width: 90%;
    }

    .dropdown.open .side-section,
    .dropdown.open .side-section-2 {
        transform: translateX(0);
        opacity: 1;
    }

    .side-section h3 {
        font-size: 16px;
        line-height: 24px;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
        color: rgb(0, 0, 0);
    }

    .side-section ul {
        padding-inline: 0px;
    }

    .side-section ul li {
        display: flex;
        column-gap: 10px;
        margin-block: 20px;
        padding: 5px;
        border-radius: 10px;
    }

    .side-section ul li:hover {
        background-color: #e4e4e4;
    }

    .side-section ul li img {
        width: 30px;
        height: 30px;
        padding: 5px;
        background-color: rgb(219, 237, 238);
        border-radius: 10px;
    }

    .side-section ul li a {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #000000;
        align-self: center;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
    }

    .side-section ul li a:hover {
        color: rgb(25, 118, 210);
    }

    .side-section-2 {
        display: grid;
        gap: 20px;
    }

    .side-section-2 img {
        width: 80%;
        text-align: center;
        border-radius: 10px;
    }

    .side-section-2 a {
        font-weight: 700;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
        text-decoration: underline;
        color: #000000;
    }
}

@media screen and (max-width: 414px) {
    .sub-menu {
        position: absolute;
        left: 0px;
        display: none;
        top: 0;
        width: 300px;
        height: 95%;
        justify-content: space-around;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s ease;
        transform: translateX(100%);
        z-index: 6;
    }

    .side-section-2 {
        justify-items: center;
    }
}

/* Search */
.search {
    width: 93%;
    height: auto;
    display: flex;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);
}

.input {
    width: 100%;
    padding: 0.7%;
    margin: auto;
}

.input input {
    width: 100%;
    height: 80px;
    font-size: 27px;
    line-height: 27px;
    border-radius: 10px;
    padding: 8px 176px 8px 56px;
    border: 0px;
    font-weight: 850;
    letter-spacing: 0.2px;
    box-shadow: 0 4px 4px 0 rgba(197, 197, 197, 0.2), 0 3px 10px 0 rgba(122, 122, 122, 0.19);
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.input input:focus {
    outline: 2px solid rgb(85, 106, 224);
}

.input svg,
button {
    position: absolute;
    z-index: 2;
}

.input svg {
    margin-top: 28px;
    margin-left: 22px;
}

.input button {
    margin-top: 4px;
    margin-left: -155px;
    padding: 1%;
    padding-block: 2%;
    color: white;
    background-color: rgb(85, 106, 224);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
}

.input button:hover {
    cursor: pointer;
}

.price {
    width: 25%;
    display: flex;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.price-svg {
    width: 20%;
    align-self: center;
}

.price-content {
    width: 100%;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    align-self: center;
    text-decoration: none;
    color: black;
}

.price:hover {
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(200, 200, 200);
}

.price:hover h3 {
    color: rgb(9, 117, 122);
}

.price-content h3 {
    font-size: 16px;
    margin: 0px;
}

.price-content p {
    font-size: 12px;
    margin: 0px;
}

button span {
    display: block;
}

button img {
    display: none;
}

@media screen and (max-width: 1200px) {
    .price {
        display: none;
    }

    .input button {
        margin-left: -144px;
        padding-block: 2.7%;
    }
}

@media screen and (max-width: 990px) {

    /* Search */
    .search {
        width: 93%;
    }

    .input input {
        padding: 15px 80px 8px 15px;
    }

    .input input:focus {
        outline: 2px solid rgb(85, 106, 224);
    }

    .input svg {
        display: none;
    }

    .input button {
        margin-left: -85px;
        padding-block: 2.95%;
        width: 80px;
    }

    .price {
        display: none;
    }

    button span {
        display: none;
    }

    button img {
        display: block;
        margin: auto;
    }
}

@media (max-width: 768px) {

    /* Search */
    .input button {
        margin-left: -85px;
        padding-block: 3.2%;
        width: 80px;
    }
}

@media screen and (max-width: 414px) {

    /* Search */

    .input input {
        font-size: 16px;
        padding: 8px 80px 8px 15px;
    }

    .input input:focus {
        outline: 2px solid rgb(85, 106, 224);
    }

    .input svg,
    button {
        position: absolute;
        z-index: 2;
    }

    .input button {
        margin-left: -85px;
        padding-block: 6.5%;
    }
}

/* Category */
.category {
    margin-block: 40px;
}

.category h1 {
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #2B2B2B
}

.category-btn {
    text-align: center;
}

.category-btn button {
    position: relative;
    background-color: #ffffff;
    color: #111111;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 30px;
    padding: 12px 24px 15px;
    margin-inline: 7px;
    font-size: 14px;
    font-weight: 700;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.category-btn button:focus {
    position: relative;
    border: 2px solid #111111;
    background-color: #111111;
    color: #F5F5F5;
}

.category-btn button:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.01);
    border: 2px solid #2B2B2B;
}

.category-btn button:focus:hover {
    border: 2px;
}

.domains {
    width: 90%;
    flex-wrap: wrap;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 40%;
    gap: 20px 20px;
    grid-template-areas:
        "d1 d2"
        "d1 d3";
}

.d1 {
    grid-area: d1;
    background-color: #D9EEEC;
    padding: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.d1:hover {
    box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}

.card div svg {
    display: none;
}

.d2 {
    grid-area: d2;
    background-color: #F1F0EC;
    padding: 20px;
    padding-block: 70px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    cursor: pointer;
}

.d2:hover {
    box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}

.d3 {
    grid-area: d3;
    background-color: #F8E9E0;
    padding: 20px;
    padding-block: 70px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    cursor: pointer;
}

.d3:hover {
    box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}

.d1 img,
.d2 img,
.d3 img {
    width: 70%;
    margin: 0px;
    animation: fadeIn 0.3s; 
}

.d1 div h3,
.d2 div h3,
.d3 div h3 {
    font-size: 29px;
    margin-block: 10px;
    font-weight: 850;
    line-height: 36px;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.d1 div p,
.d2 div p,
.d3 div p {
    font-size: 16px;
    line-height: 24px;
    width: 70%;
    font-weight: 565;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    color: rgb(17, 17, 17);
}

.d2 div p,
.d3 div p {
    font-size: 16px;
    line-height: 24px;
    width: 80%;
    margin-block: 13px;
    font-weight: 565;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    color: rgb(17, 17, 17);
}

.d1 div button,
.d2 div button,
.d3 div button {
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    transition: 0.2s;
    background-color: black;
    font-size: 16px;
    font-weight: 695;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    color: white;
}

.d1 div button a,
.d2 div button a,
.d3 div button a {
    text-decoration: none;
    color: white;
}

.d1 div button:hover,
.d2 div button:hover,
.d3 div button:hover {
    transform: scale(1.05);
}

.recommended {
    width: 90%;
    flex-wrap: wrap;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 40%;
    gap: 20px 20px;
    grid-template-areas:
        "r1 r2"
        "r1 r3";
}

.r1 {
    grid-area: r1;
    background-color: #F1E6E3;
    padding: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.r1:hover {
    box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}

.r2 {
    grid-area: r2;
    background-color: #CFDFEC;
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    cursor: pointer;
}

.r2:hover {
    box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}

.r3 {
    grid-area: r3;
    background-color: #D8EFEF;
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    cursor: pointer;
}

.r3:hover {
    box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.r1 img,
.r2 img,
.r3 img {
    width: 70%;
    height: auto;
    margin: 0px;
    animation: fadeIn 0.3s; 
}

.r1 div h3,
.r2 div h3,
.r3 div h3 {
    font-size: 29px;
    margin-block: 10px;
    font-weight: 850;
    line-height: 36px;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.r1 div p,
.r2 div p,
.r3 div p {
    font-size: 16px;
    line-height: 24px;
    width: 70%;
    margin-block: 13px;
    font-weight: 565;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    color: rgb(17, 17, 17);
}

.r2 div p,
.r3 div p {
    font-size: 16px;
    line-height: 24px;
    width: 80%;
    margin-block: 13px;
    font-weight: 565;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    color: rgb(17, 17, 17);
}

.r1 div button,
.r2 div button,
.r3 div button {
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    transition: 0.2s;
    background-color: black;
    font-size: 16px;
    font-weight: 695;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.r1 div button a,
.r2 div button a,
.r3 div button a {
    text-decoration: none;
    color: white;
}

.r1 div button:hover,
.r2 div button:hover,
.r3 div button:hover {
    transform: scale(1.05);
}

.last {
    width: 90%;
    height: 580px;
    flex-wrap: wrap;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80%;
    gap: 20px 20px;
    grid-template-areas:
        "ws-1 ws-2";
}

.ws-1 {
    height: 110%;
    grid-area: ws-1;
    background-color: rgb(230, 242, 238);
    color: rgb(17, 17, 17);
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.ws-1 div {
    height: auto;
    text-align: left;
}

.ws-1:hover {
    box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}

.ws-2 {
    height: 110%;
    grid-area: ws-2;
    background-color: rgb(235, 240, 252);
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.ws-2:hover {
    box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}

.ws-2 div {
    height: auto;
    text-align: left;
}

.ws-1 img,
.ws-2 img {
    width: 82%;
    height: auto;
    margin-bottom: 80px;
    animation: fadeIn 0.3s; 
}

.ws-1 img {
    width: 85%;
    height: auto;
    padding-top: 20px;
    margin-bottom: 50px;
}

.ws-2 img {
    width: 78%;
    height: auto;
}

.ws-1 div h3,
.ws-2 div h3 {
    font-size: 29px;
    margin-block: 5px;
    font-weight: 850;
    line-height: 36px;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.ws-2 div h3 {
    margin-block: 10px;
}

.ws-1 div p,
.ws-2 div p {
    font-size: 16px;
    line-height: 24px;
    width: 80%;
    margin-block: 13px;
    font-weight: 530;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    color: rgb(17, 17, 17);
}

.ws-1 div button,
.ws-2 div button {
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    transition: 0.2s;
    background-color: black;
    font-size: 16px;
    font-weight: 695;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.ws-1 div button a, .ws-2 div button a {
    text-decoration: none;
    color: white;
}

.ws-1 div button:hover,
.ws-2 div button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1200px) {

    .category {
        height: 110%;
    }

    .domains {
        width: 80%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 40% 40%;
        gap: 15px 15px;
        grid-template-areas:
            "d1 none"
            "d1 none"
            "d2 d3";
    }

    .d1 {
        grid-area: d1;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: #D9EEEC;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .d1:hover {
        box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
    }

    .card div svg {
        display: inline;
    }

    .d2 {
        grid-area: d2;
        background-color: #f1f1f1;
        padding: 15px;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
    }

    .d2:hover {
        box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
    }

    .d3 {
        grid-area: d3;
        background-color: #f1f1f1;
        padding: 15px;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
    }

    .d1 img {
        width: 60%;
    }

    .d2 img,
    .d3 img {
        display: none;
    }

    .d1 div,
    .d2 div,
    .d3 div {
        align-self: end;
    }

    .d1 div p,
    .d2 div p,
    .d3 div p {
        display: none;
    }

    .d2 div p,
    .d3 div p {
        display: none;
    }

    .d1 div button,
    .d2 div button,
    .d3 div button {
        display: none;
    }

    .recommended {
        width: 80%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 40% 40%;
        gap: 15px 15px;
        grid-template-areas:
            "r1 r1"
            "r1 r1"
            "r2 r3";
    }

    .r1 {
        height: auto;
        grid-area: r1;
        display: flex;
        flex-direction: row-reverse;
    }

    .r2 {
        grid-area: r2;
        display: flex;
        flex-direction: row-reverse;
        background-color: #f1f1f1;
    }

    .r3 {
        grid-area: r3;
        display: flex;
        flex-direction: row-reverse;
        background-color: #f1f1f1;
    }

    .r1 img {
        width: 60%;
        height: fit-content;
    }

    .r2 img,
    .r3 img {
        display: none;
    }

    .r1 div,
    .r2 div,
    .r3 div {
        align-self: end;
    }

    .r1 div p,
    .r2 div p,
    .r3 div p {
        display: none;
    }

    .r2 div p,
    .r3 div p {
        display: none;
    }

    .r1 div button,
    .r2 div button,
    .r3 div button {
        display: none;
    }

    .last {
        width: 80%;
        height: 400px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 80%;
        gap: 15px 15px;
        grid-template-areas:
            "ws-1"
            "ws-2";
    }

    .ws-1 {
        height: auto;
        grid-area: ws-1;
        display: flex;
        flex-direction: row-reverse;
    }

    .ws-2 {
        height: auto;
        grid-area: ws-2;
        display: flex;
        flex-direction: row-reverse;
    }

    .ws-1 img,
    .ws-2 img {
        width: 60%;
        height: fit-content;
    }

    .ws-1 div h3,
    .ws-2 div h3 {
        width: 100%;
    }

    .ws-1 div,
    .ws-2 div {
        align-self: end;
    }

    .ws-1 div p,
    .ws-2 div p {
        display: none;
    }

    .ws-1 div p,
    .ws-2 div p {
        display: none;
    }

    .ws-1 div button,
    .ws-2 div button {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .category h1 {
        font-size: 30px;
        line-height: 52px;
    }

    .category-btn {
        width: 100%;
    }

    .category-btn button {
        font-size: 15px;
        margin-inline: 5px;
    }

    .domains {
        width: 80%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 40% 40%;
        gap: 5px 5px;
        grid-template-areas:
            "d1 none"
            "d1 none"
            "d2 d3";
    }

    .d1 {
        grid-area: d1;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: #D9EEEC;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .d2 {
        grid-area: d2;
        padding: 15px;
        display: flex;
        flex-direction: row;
    }

    .d3 {
        grid-area: d3;
        padding: 15px;
        display: flex;
        flex-direction: row;
    }

    .d1 img {
        width: 60%;
    }

    .d1 div h3,
    .d2 div h3,
    .d3 div h3 {
        font-size: 20px;
    }

    .d1 div,
    .d2 div,
    .d3 div {
        align-self: end;
    }

    .recommended {
        width: 80%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 40% 40%;
        gap: 5px 5px;
        grid-template-areas:
            "r1 r1"
            "r1 r1"
            "r2 r3";
    }

    .r1 {
        grid-area: r1;
        padding: 15px;
    }

    .r2 {
        grid-area: r2;
        padding: 15px;
    }

    .r3 {
        grid-area: r3;
        padding: 15px;
    }

    .r1 img {
        width: 60%;
    }

    .r2 img,
    .r3 img {
        display: none;
    }

    .r1 div h3,
    .r2 div h3,
    .r3 div h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .last {
        width: 80%;
        height: 350px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 80%;
        gap: 5px 5px;
        grid-template-areas:
            "ws-1"
            "ws-2";
    }

    .ws-1 {
        grid-area: ws-1;
        display: 15px;
    }

    .ws-2 {
        grid-area: ws-2;
        padding: 15px;
    }

    .ws-1 img,
    .ws-2 img {
        width: 60%;
    }

    .ws-1 div h3,
    .ws-2 div h3 {
        font-size: 20px;
        line-height: 25px;
    }
}

@media screen and (max-width: 414px) {

    .category {
        height: 90%;
    }

    .category h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .category-btn {
        width: 100%;
        display: flex;
        overflow-x: scroll;
    }

    .category-btn button {
        font-size: 15px;
        margin-inline: 7px;
        padding: 7px;
    }

    .domains {
        width: 90%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 40% 40%;
        gap: 5px 5px;
        grid-template-areas:
            "d1 none"
            "d1 none"
            "d2 d3";
    }

    .d1 {
        grid-area: d1;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: #D9EEEC;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .d2 {
        grid-area: d2;
        padding: 15px;
        display: flex;
        flex-direction: row;
    }

    .d3 {
        grid-area: d3;
        padding: 15px;
        display: flex;
        flex-direction: row;
    }

    .d1 img {
        width: 50%;
        height: 150px;
    }

    .d1 div h3,
    .d2 div h3,
    .d3 div h3 {
        font-size: 20px;
    }

    .d1 div,
    .d2 div,
    .d3 div {
        align-self: end;
    }

    .recommended {
        width: 90%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 40% 40%;
        gap: 5px 5px;
        grid-template-areas:
            "r1 r1"
            "r1 r1"
            "r2 r3";
    }

    .r1 {
        grid-area: r1;
        padding: 15px;
    }

    .r2 {
        grid-area: r2;
        padding: 15px;
    }

    .r3 {
        grid-area: r3;
        padding: 15px;
    }

    .r1 img {
        width: 50%;
    }

    .r2 img,
    .r3 img {
        display: none;
    }

    .r1 div h3,
    .r2 div h3,
    .r3 div h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .last {
        width: 90%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 80%;
        gap: 5px 5px;
        grid-template-areas:
            "ws-1"
            "ws-2";
    }

    .ws-1 img,
    .ws-2 img {
        display: none;
    }
}

/* Hero */
.hero {
    width: 94%;
    height: auto;
    display: flex;
    padding-inline: 11px;
    column-gap: 10px;
    justify-content: end;
}

.hero-1 {
    width: 65%;
    padding: 40px;
    background-image: url("/assets/airo-landscape.png");
    background-size: cover;
    border-radius: 20px;
    align-self: center;
}

.hero-1 label {
    background-color: rgb(245, 245, 245);
    border-radius: 7px;
    padding: 4px 5.5px;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 850;
}

.hero-1 img {
    width: 18%;
    margin-block: 20px;
}

.hero-1 h1 {
    width: 45%;
    margin-block: 0px;
    font-size: 50px;
    line-height: 62px;
    font-weight: 850;
    letter-spacing: 0px;
    font-family: gd-sage, "Times New Roman", serif;
}

.hero-1 p {
    width: 45%;
    font-size: 18px;
    line-height: 27px;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    font-weight: 565;
    color: rgb(17, 17, 17);
}

.hero-1 button {
    width: 22%;
    background-color: rgb(17, 17, 17);
    color: #fff;
    border: none;
    padding: 18px 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    display: inline-block;
}

@keyframes buttonSlide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-15%);
    }
}

.hero-1 button span:hover {
    animation: buttonSlide 0.3s;
}

.hero-1 button svg {
    display: none;
}

.hero-2 button span:hover {
    animation: buttonSlide 0.5s;
}

.hero-2 button svg {
    display: none;
}

.hero-2 {
    width: 22%;
    padding: 20px;
    padding-block: 125px;
    text-align: center;
    color: white;
    background-color: rgb(17, 17, 17);
    border-radius: 20px;
    align-self: center;
}

.hero-2 label {
    color: black;
    background-color: aqua;
    border-radius: 7px;
    padding: 1.5%;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.hero-2 h1 {
    width: 85%;
    margin: auto;
    font-family: gd-sage, "Times New Roman", serif;
}

.hero-2 p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 850;
    font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.hero-2 button {
    width: 95%;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 695;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    display: inline-block;
}

.hero-2 button svg {
    display: none;
}

@media screen and (max-width: 1200px) {

    /* Hero */
    .hero {
        width: 88%;
        height: auto;
        display: flex;
        row-gap: 10px;
        margin: auto;
        align-self: start;
    }

    .hero-1 {
        width: 75%;
        padding: 40px;
        background-image: url("/assets/airo-landscape.png");
        background-size: cover;
        border-radius: 20px;
        align-self: center;
        flex: 1;
    }

    .hero-1 label {
        background-color: rgb(245, 245, 245);
        border-radius: 7px;
        padding: 5px 6px;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 20px;
        font-weight: 850;
    }

    .hero-1 img {
        width: 30%;
    }

    .hero-1 h1 {
        width: 85%;
        margin-block: 0px;
        font-size: 45px;
        line-height: 52px;
        font-weight: 850;
        letter-spacing: 0px;
        font-family: gd-sage, "Times New Roman", serif;
    }

    .hero-1 p {
        width: 60%;
        font-size: 18px;
        line-height: 27px;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
        font-weight: 565;
        color: rgb(17, 17, 17);
    }

    .hero-1 button {
        background-color: rgb(17, 17, 17);
        color: #fff;
        border: none;
        padding: 18px 48px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease;
        display: inline-block;
    }

    .hero-1 button::after {
        content: '→';
        position: absolute;
        right: -20px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .hero-1 button:hover::after {
        right: 20px;
        opacity: 1;
    }

    .hero-1 button svg {
        display: none;
    }

    .hero-2 {
        width: 25%;
        padding: 20px;
        padding-block: 105px;
        text-align: center;
        color: white;
        background-color: rgb(17, 17, 17);
        border-radius: 20px;
        align-self: center;
    }

    .hero-2 label {
        color: black;
        background-color: aqua;
        border-radius: 7px;
        padding: 0.5%;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    .hero-2 h1 {
        width: 100%;
        margin: 0px;
        font-size: 28px;
        line-height: 32px;
        font-family: gd-sage, "Times New Roman", serif;
    }

    .hero-2 p {
        font-size: 16px;
        line-height: 20px;
        font-weight: 850;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
    }

    .hero-2 button {
        background-color: rgb(255, 255, 255);
        color: rgb(17, 17, 17);
        border: none;
        padding: 15px 20px;
        font-size: 16px;
    }

    .hero-2 button:hover {
        padding-right: 30px;
    }

    .hero-2 button::after {
        content: '→';
        position: absolute;
        right: -20px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .hero-2 button:hover::after {
        right: 10px;
        opacity: 1;
    }

    .hero-2 button svg {
        display: none;
    }

    /* Dropdown */
    .DomainDropdown,
    .WebsiteDropdown,
    .SecurityDropdown,
    .MarketingDropdown {
        padding: 0px;
    }
}

@media screen and (max-width: 992px) {

    /* Hero */
    .hero {
        flex-direction: column;
        row-gap: 20px;
    }

    .hero-1 {
        width: 93%;
    }

    .hero-1 p {
        width: 80%;
    }

    #HeroBtnOne {
        padding: 15px 15px;
    }

    .hero-1 button {
        padding: 9px 0px;
    }

    .hero-1 button span {
        display: inline;
    }

    .hero-2 {
        width: 93%;
        padding: 40px;
        padding-block: 40px;
        padding-bottom: 80px;
        text-align: start;
    }

    .hero-2 h1 {
        margin: 0px;
    }

    .hero-2 button {
        width: 30%;
        margin-left: 0px;
        padding: 9px 0px;
    }

    .hero-2 button span {
        display: inline;
    }
}

@media screen and (max-width: 440px) {

    /* Hero */
    .hero {
        width: 95%;
        margin: auto;
        display: block;
    }

    .hero-1 {
        width: 95%;
        padding: 5px;
        padding-block: 50px;
        margin: 0px;
        text-align: center;
    }

    .hero-1 label {
        padding: 3%;
        font-size: 16px;
    }

    .hero-1 img {
        width: 50%;
    }

    .hero-1 h1 {
        width: 90%;
        margin: auto;
        margin-block: 0px;
        font-size: 32px;
        line-height: 40px;
    }

    .hero-1 p {
        width: 95%;
    }

    .hero-1 button {
        font-size: 16px;
        font-weight: bold;
        padding: 15px;
        padding-inline: 40px;
        border: 0px;
        margin-left: -25%;
    }

    .hero-2 {
        width: 80%;
        padding: 30px;
        padding-block: 50px;
        margin: 0px;
        margin-block: 20px;
        text-align: start;
    }

    .hero-2 label {
        font-size: 12px;
    }

    .hero-2 p {
        font-size: 14px;
    }

    .hero-2 h1 {
        font-size: 20px;
        font-family: gdsherpa, Helvetica, Arial, sans-serif;
        font-weight: lighter;
        margin: 0px;
    }

    .hero-2 button {
        display: none;
    }
}