/* Font */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

/* Variable */
:root {
    --ff-primary: "Syne", sans-serif;
    --ff-secondary: "Average Sans", sans-serif;
    --primary: rgba(128, 171, 247, 0.20);
    --secondary: #35225E;
    --tertary: #8442E8;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #4a4a4a;
    --h1: 36px;
    --h2: 22px;
    --h3: 18px;
    --h4: 16px;
    --h5: 14px;
    --border-radius: 30px;
}

html,
body {
    padding: 20px 0px;
    margin: 0px;
    width: 100%;
}

/* Section */
.section {
    height: auto;
    padding: 0px 12px;
    margin: 20px 0px;
}

.container {
    height: auto;
    border-radius: 20px;
    padding-bottom: 50px;
    background-color: var(--primary);
}

.content {
    padding: 48px 280px;
    margin-bottom: 20px;
    text-align: center;
}

.content label {
    font-size: var(--h5);
    font-family: var(--ff-secondary);
    color: var(--tertary);
}

.content h1 {
    font-size: var(--h1);
    line-height: 48px;
    font-family: var(--ff-primary);
    margin-top: 7px;
    margin-bottom: 30px;
}

.content p {
    width: 94%;
    font-size: var(--h4);
    line-height: 28px;
    font-family: var(--ff-secondary);
    color: var(--grey);
    margin-bottom: 30px;
}

.category {
    text-align: center;
    background-color: var(--white);
    padding: 10px 0px;
    border-radius: calc(var(--border-radius) + 10px);
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.2);
}

.category button {
    font-size: var(--h3);
    background-color: var(--white);
    color: var(--grey);
    padding: 10px 34px;
    border: 0px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: var(--ff-secondary);
}

.category button:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.category button:focus {
    background-color: var(--secondary);
    color: var(--white);
}

.button {
    padding: 16px;
    margin: 0px 10px;
    border-radius: calc(var(--border-radius) - 11px);
    background-color: var(--primary);
    text-align: center;
}

.button a {
    font-size: var(--h4);
    font-family: var(--ff-secondary);
    color: var(--secondary);
    text-decoration: none;
}

.button a:hover {
    transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: rgb(13, 110, 253);
}

.products {
    height: auto;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.seperate {
    padding-inline: 83px;
    justify-content: start;
}

.card {
    width: 28%;
    text-align: start;
    cursor: pointer;
    animation: fadeIn 0.4s;
    transform-origin: top left;
}

.card img {
    width: 100%;
}

.card div {
    padding: 11px;
} 

.card div p {
    font-size: var(--h4);
    font-family: var(--ff-secondary);
    color: var(--grey);
    margin: 0px;
}

.card div h1 {
    width: 93%;
    font-size: var(--h2);
    line-height: 28px;
    font-weight: normal;
    font-family: var(--ff-secondary);
    color: var(--grey);
    margin: 0px;
}

@keyframes fadeIn {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

@media screen and (max-width: 1200px) {

    /* Section */
    .content {
        padding: 48px 140px;
    }
}

@media screen and (max-width: 992px) {

    /* Section */
    .content {
        padding: 48px 40px;
    }

    .category-btn {
        padding: 10px 10px;
    }
    
    .seperate {
        padding-inline: 25px;
        justify-content: start;
    }

    .card {
        width: 29%;
    }
}

@media screen and (max-width: 784px) {
    /* Section */

    .content {
        padding: 48px 20px;
    }
}

@media screen and (max-width: 564px) {
    /* Section */
    .content {
        padding: 48px 30px;
    }

    .content h1 {
        font-size: calc(var(--h1) - 8px);
        line-height: 38px;
    }

    .card {
        width: 80%;
    }

    .seperate {
        width: 100%;
        padding-left: 0px;
        justify-content: center;
    }
}